/***************** START  GLOBAL ***********/


body {
    font-family: system-ui;
    background-color: var(--secondary-color);
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

:root {

    --main-color: #0078FF;
    --primary-color: black;
    --main-margin: 4.375rem;
    --secondary-color: #F5F5F5;
}


html {
    scroll-padding-top: 96px;
}

::-webkit-scrollbar {

    background-color: gray;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.597);
    border-radius: 10px;
    transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}


.header {
    text-align: center;
    position: relative;

}

.header::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    background-color: var(--main-color);

}

.header p {
    padding-block: .5rem;
    font-size: 1rem;
}

.header h2 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

/*************** start navbar  *************************/
.my-nav {

    background-color: rgba(0, 0, 0, 0.893);
}

.my-nav .whitee {
    background-color: white;

}

.my-nav .whitee .nav-item a {
    color: black;
}

.my-nav .nav-item a {

    margin-inline: .4375rem;
    font-weight: 500;
    font-size: 1.0625rem;
}

.my-nav .navbar-brand {

    color: white;
    font-weight: 500;
    font-size: 2rem;

}

.my-nav .my-drop li a {
    color: black !important;
}

.my-nav .my-btn {
    background-color: white;
}

/**************** End navbar  ***********************/
/**************** Start Home  ***********************/
.home {
    min-height: 100vh;
    background: linear-gradient(86deg, rgba(0, 95, 255, 0.3114495798319328) 0%, rgba(1, 0, 10, 0.473) 0%), url("../imgs/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;


}

.home .caption h1 {
    text-transform: capitalize;
    color: white;
    font-size: 2rem;

}

.home .caption span {

    margin-top: var(--main-margin);
    position: relative;
    margin-top: var(--main-margin);
}

.home .caption span::after {
    content: '';
    animation: typing 7s infinite linear;
    color: white;
    position: absolute;
    bottom: -42px;
    right: -23px;
    font-size: 1.25rem;
}

/**** desiger - developer  breakpoints for animation--> 100/2*16 *******/


@keyframes typing {
    0% {
        content: "";
    }

    1.79% {
        content: "d";
    }

    3.57% {
        content: "De";
    }

    5.36% {
        content: "Des";
    }

    7.14% {
        content: "Desi";
    }

    8.93% {
        content: "Desig";
    }

    10.71% {
        content: "Design";
    }

    12.50% {
        content: "Designe";
    }

    14.29% {
        content: "Designer";
    }

    16.07% {
        content: "Designe";
    }

    17.86% {
        content: "Design";
    }

    19.64% {
        content: "Desig";
    }

    21.43% {
        content: "Desi";
    }

    23.21% {
        content: "Des";
    }

    25.00% {
        content: "De";
    }

    26.79% {
        content: "Dev";
    }

    28.57% {
        content: "Deve";
    }

    30.36% {
        content: "Devel";
    }

    32.14% {
        content: "Develo";
    }

    33.93% {
        content: "Develop";
    }

    35.71% {
        content: "Develope";
    }

    37.50% {
        content: "Developer";
    }

    39.29% {
        content: "Develope";
    }

    41.07% {
        content: "Develop";
    }

    42.86% {
        content: "Develo";
    }

    44.64% {
        content: "Devel";
    }

    46.43% {
        content: "Deve";
    }

    48.21% {
        content: "Dev";
    }

    50.00% {
        content: "De";
    }

    51.79% {
        content: "D";
    }

    53.57% {
        content: "";
    }

    55.36% {
        content: "F";
    }

    57.14% {
        content: "Fr";
    }

    58.93% {
        content: "Fre";
    }

    60.71% {
        content: "Free";
    }

    62.50% {
        content: "Freel";
    }

    64.29% {
        content: "Freela";
    }

    66.07% {
        content: "Freelan";
    }

    67.86% {
        content: "Freelanc";
    }

    69.64% {
        content: "Freelance";
    }

    71.43% {
        content: "Freelancer";
    }

    73.21% {
        content: "Freelance";
    }

    75.00% {
        content: "Freelanc";
    }

    76.79% {
        content: "Freelan";
    }

    78.57% {
        content: "Freela";
    }

    80.36% {
        content: "Freel";
    }

    82.14% {
        content: "Free";
    }

    83.93% {
        content: "Fre";
    }

    85.71% {
        content: "Fr";
    }

    87.50% {
        content: "F";
    }

    89.29% {
        content: "";
    }

    91.07% {
        content: "";
    }

    92.86% {
        content: "";
    }

    94.64% {
        content: "";
    }

    96.43% {
        content: "";
    }

    98.21% {
        content: "";
    }

    100% {
        content: "";
    }
}



/**************** End Home  ***********************/
/**************** Start About  ***********************/

.about {

    margin-block: var(--main-margin);
}

.about .container {

    background-color: white;
    box-shadow: 0px 3px 10px -3px gray;

}

.about .row .image {
    margin-left: 2.25rem;
    padding-block: .625rem;
}

.about .row .details ul span {

    color: gray;
}

.about .row .details ul li {
    padding-block: .3125rem;
}

.about .content-text .title h2 {
    font-size: 2.25rem;
    position: relative;
    width: fit-content;
}

.about .content-text .title h2::after {

    content: '';
    position: absolute;
    bottom: -5px;
    left: 3px;
    width: 85%;
    height: 2px;
    background-color: var(--main-color);
}

.about .row .myskill {

    font-size: 20px;
    font-weight: 700;
}


/**************** End About  ***********************/
/**************** Start Services   ***********************/

.services {
    margin-block: var(--main-margin);

}

.services .icon {
    margin-bottom: 1rem;
    color: #1e1e1e;
    width: 50px;
    padding: 2rem;
    margin: auto;
    height: 50px;
    border: 10px solid var(--main-color);
    border-radius: 50%;
    transition: background-color 0.5s, border-color 0.5s;
}

.services .icon i {
    font-size: 1.5625rem;
    transition: color 0.5s;
}

.services .icon:hover i {
    color: white;
}

.services .container .row {
    margin-block: 1.25rem;
}

.services .content h4 {
    font-size: 1.5rem;
}

.services .icon:hover {
    border-color: #accef4;
    background-color: var(--main-color);
}

.services .container .row .inner {
    background-color: white;
    box-shadow: 0px 3px 4px 0px #80808078;
}

.services .container .row .inner p {
    font-size: 1.125rem;
    padding-block: 4rem;
    padding-inline: 1rem;
    font-weight: 400;
    color: rgb(93, 91, 91);
}


/**************** End  Services ***********************/
/**************** Start  Counter ***********************/

.counter {
    margin-block: var(--main-margin);
    color: white;
    background: linear-gradient(149deg, #0078ffa8 0% 50%), url("../imgs/counters-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.counter .inner {

    text-align: center;
}

.counter h3 {
    font-size: 1.5625rem;
    margin-block: 1.25rem;
}

.counter .icon {

    padding: 1.0625rem 1.3125rem;
    border: 7px solid #cde1f8;
    width: fit-content;
    margin: 1.25rem auto;
}

.counter .icon i {
    font-size: 1.25rem;
}

/**************** End  Counter ***********************/
/**************** STart  Portfolio ***********************/
.work {
    margin-block: var(--main-margin);
}

.work .inner {

    background-color: white;
    box-shadow: 1px 2px 3px 0px #80808047;
}

.work .inner .icon {
    bottom: 15px;
    right: 15px;
    max-width: fit-content;
    min-height: fit-content;
    border: 3px solid var(--main-color);

}

.work .inner .icon i {

    color: var(--main-color);
    font-size: 1.3125rem;
    padding: .25rem .3125rem;
}

.work .inner .content {
    padding-inline: .625rem;
    padding-block: 30px;
}

.work .inner .content p {
    font-weight: 600;
    font-size: 1.25rem;
}

.work .inner .content .blue {
    color: var(--main-color);
}

.work .inner .content .gray {
    color: gray;
}

.work .inner .image img {
    transition: transform 1s;
}

.work .inner .image img:hover {

    transform: scale(1.3);
    cursor: pointer;

}

/**************** End  Portfolio ***********************/
/**************** Start  Slider ***********************/

.slider {
    margin-block: var(--main-margin);
    padding-block: 4rem;
    background: linear-gradient(149deg, #0078ffa8 0% 50%), url("../imgs/overlay-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slider .container-fluid {

    padding-block: 120px;
}

.slider .my-btn {

    display: block;
    margin: -1rem auto;
    margin-block: -1rem;
    margin: auto;
    width: 78px;
    height: 5px;
}

.slider h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.slider p {

    color: white;
    padding-block: 16px;

}

/**************** End Slider ***********************/
/**************** Start Blog ***********************/


.blog {

    margin-block: var(--main-margin);

}


.blog .inner {

    box-shadow: 1px 2px 3px 0px #80808047;
}

.blog .foot .item a {

    transition: color 0.7s;
}

.blog .foot .item a:hover {

    color: var(--main-color);
}

.blog .inner .text h3 {

    transition: color 0.7s;
}

.blog .inner .text h3:hover {
    color: var(--main-color);
}

.blog .inner .text p {
    color: gray;
}


.blog .inner .text button {

    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    background-color: var(--main-color);
    padding: 5px 19px;
    text-transform: uppercase;
    border: none;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 500;
}

/**************** End Blog ***********************/
/**************** Start Contact ***********************/

.contact {
    margin-top: var(--main-margin);
    background: linear-gradient(149deg, #0078ffa8 0% 50%), url("../imgs/overlay-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0rem .3125rem .625rem .125rem #9E9E9E;

}

.contact .container {


    padding-block: 50px;
}

.contact .container .row {
    background-color: white;
}

.contact .header-2 h2 {

    font-size: 20px;
    padding-block: 15px;
    margin-block: 20px;
    font-weight: 600;
    text-transform: unset;
}

.contact .header-2::after {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    left: .0625rem;
    bottom: .1875rem;
    width: 5.625rem !important;
    height: .125rem;
}


.contact form button {
    background: #0078ff;
    border: .3125rem solid var(--main-color);
    padding: .625rem 1.5rem;
    color: #fff;
    font-size: 19.2px;
    transition: 0.4s;
}

.contact form button:hover {

    cursor: pointer;
    border: .3125rem solid #accef4;
    background-color: #0077ffc9;
}

.contact .inner-2 {

    margin-top: .625rem;
}



.contact .container ul li i {

    color: var(--main-color);
    font-size: 16px;
    padding-inline: 10px;
}

.contact .container ul li {
    padding-block: 7px;

}


.contact ul {
    padding-left: 0 !important;
}

.contact .icons {

    margin-block: .625rem;
    padding-left: .625rem;


}

.contact .icons ul {

    list-style: none;

}

.contact .icons ul li {
    margin-inline: 5px;
    margin-top: .375rem;
    display: inline-block;
    border: .3125rem solid var(--main-color);
    border-radius: 50%;
    transition: background-color 1s, border-color 1s;
}

.contact .icons ul li i {
    color: black;
    font-size: 18px;
    transition: color 1s;
}

.contact .icons ul li:hover {

    border-color: #accef4;
    background-color: var(--main-color);

}

.contact .icons ul li:hover i {
    color: white;
    cursor: pointer;
}

/**************** End Contact ***********************/
/**************** Start Footer ***********************/

footer {
    background-color: #0660c8;
    margin-top: 0;
    padding-block: 15px;
}

footer .inner {
    width: fit-content;
    margin: auto;
    text-align: center;
    color: white;
}

footer .inner span {
    font-weight: 700;
}

/**************** End Footer ***********************/



/************* start media  ***********/


@media(min-width:219.7488rem) {
    .home .caption h1 {
        font-size: 3rem;
    }



    .home .caption span::after {
        content: '';
        animation: typing 7s infinite linear;
        color: white;
        position: absolute;
        bottom: -42px;
        right: -38px;
        font-size: 2rem;
    }

    .about .row .image {
        margin-left: 0;
    }

    .about .row .details ul {

        padding-top: 1.25rem;
        margin-left: -30px;
    }


    .header::after {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        left: 47%;
        bottom: 2px;
        background-color: var(--main-color);

    }

    .contact .header h2 {
        font-size: 24px;
    }

    .contact .icons ul li i {
        font-size: 24px;
    }




}


@media(min-width:767.9808px) {

    .contact .header h2 {
        font-size: 32px;
    }

}


@media (min-width:991.9808px) {
    .my-nav {

        background-color: rgba(0, 0, 0, 0.901);
    }

    .my-nav .nav-item a {
        color: white !important;
        margin-inline: .4375rem;
        font-weight: 500;
        font-size: 1.0625rem;
    }

    .my-nav .whitee {
        background-color: transparent;
    }

    .my-nav .navbar-brand {

        color: white;
        font-weight: 500;
        font-size: 2rem;

    }

    .my-nav .navbar-nav li {
        position: relative;
        margin-inline: .4375rem;
    }

    .my-nav .navbar-nav li::after {

        content: '';
        position: absolute;
        bottom: 7px;
        left: 13px;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.5s;
    }


    .my-nav .navbar-nav li:hover::after {

        width: 63%;
    }

    .my-nav .navbar-nav .active::after {


        content: '';
        position: absolute;
        bottom: 7px;
        left: 13px;
        width: 63%;
        height: 2px;
        background-color: white;
        transition: width 0.5s;
    }



    .about .content-text .title h2::after {

        content: '';
        position: absolute;
        bottom: -5px;
        left: 5px;
        width: 90%;
        height: 2px;
        background-color: var(--main-color);
    }


}

@media (min-width:1199.9808px) {}


@media(min-width:1399.9808px) {}